p{
    font-size: 14px;
    color: gray;
    border: 2px solid greenyellow;
    border-radius: 14px;
    padding: 21px;
}

.external{
    font-size: 14px;
        color: gray;
        border: 2px solid greenyellow;
        border-radius: 14px;
        padding: 21px;
}

#external{
    font-size: 14px;
        color: gray;
        border: 2px solid greenyellow;
        border-radius: 14px;
        padding: 21px;
}